// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-index{
  text-align: center;
  padding: 0 20%;
  background-color: #fff7c9;
}

.event-table{
  background-color: white;
  width: 100%;
}

.event-table th{
  background-color: rgb(228, 226, 226);
}

.event-table .btn{
  position: relative;
  display: inline-block;
  padding: .1em 1em;
  border: 2px solid #333;
  color: #333;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.event-table .btn:after{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.event-table .btn:hover{
  color: #fff;
}

.event-table .btn:hover:after{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.simple-calendar {

  background-color: white;

  .wday-0 {
    color: red;
  }
  .wday-6 {
    color: blue;
  }

  .prev-month {
    opacity: 0.5;
  }
  .next-month {
    opacity: 0.5;
  }
}

.event-form{
  width: 46%;
  padding: 1%;
  margin-top: 10%;
  margin-left: 26%;
  background-color: #bfc9bd;
}

.event-show{
  width: 100%;
  height: 100vh;
  background-color: #fff7c9;
  text-align: center;
}